<script>
$('.carousel').carousel();
$("html, body").animate({ scrollTop: 0 }, 0);
$('.slider').slider({full_width: false});

</script>

<!-- Main Page -->
<div class="main animated fadeIn">

  <h3 class="drop-shadow">Welcome to Movie Buddy!</h3>
  <h5>Click on a link below, or use the searchbar to get started.</h5>
</br>

    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <a href="movie-buddy/#movie">
            <img src="images/movie-icon.png" alt="">

          </a>

        </div>//col l3 s12





      </div>//row
    </div>//container



    </div>

<script>
  $('.fa-chevron-right1').click(function() {
  $('.slider1').slider('next');
  $('.slider1').slider('pause');
  setTimeout(function(){
  $('.slider1').slider('start');
}, 5000);
});
$('.fa-chevron-left1').click(function() {
  $('.slider1').slider('prev');
  $('.slider1').slider('pause');
  setTimeout(function(){
  $('.slider1').slider('start');
}, 5000);
});
$('.fa-chevron-right2').click(function() {
  $('.slider2').slider('next');
  $('.slider2').slider('pause');
    setTimeout(function(){
  $('.slider2').slider('start');
}, 5000);
});
$('.fa-chevron-left2').click(function() {
  $('.slider2').slider('prev');
  $('.slider2').slider('pause');
    setTimeout(function(){
  $('.slider2').slider('start');
}, 5000);
});
$('.fa-chevron-right3').click(function() {
  $('.slider3').slider('next');
  $('.slider3').slider('pause');
    setTimeout(function(){
  $('.slider3').slider('start');
}, 5000);
});
$('.fa-chevron-left3').click(function() {
  $('.slider3').slider('prev');
  $('.slider3').slider('pause');
    setTimeout(function(){
  $('.slider3').slider('start');
}, 5000);

});
$('.parallax').parallax();


  $('.movie-link').removeClass('white');
  $('.star-link').removeClass('white');
  $('.tv-link').removeClass('white');
  $('.news-link').removeClass('white');

</script>

