<script>
$('.carousel').carousel();
$('.materialboxed').materialbox();

$('.slider').slider({full_width: false});

$("html, body").animate({ scrollTop: 0 }, 0);

  $('.movie-link').addClass('white');
  $('.star-link').removeClass('white');
  $('.tv-link').removeClass('white');
  $('.news-link').removeClass('white');


$(document).on('webkitfullscreenchange mozfullscreenchange fullscreenchange MSFullscreenChange', fn){
  alert('Full screen engaged, No. 2!');
};

</script>



</br>
<div class="container  animated fadeIn movie-page-container">
  <div class="row moviePage">
   <h1 class="drop-shadow movie-name">{{movieDetails.title}}</h1>




<!-- POSTER SLIDER -->
   <div class="tv-cast-wrapper col s12 l4 offset-l1 offset-m4 offset-s1 hide-on-med-and-down">
    <div class="slider tv-slider slider1 ">
      <ul class="slides z-depth-3 slides1 ">
        <li>
          <img class="responsive-img movie-poster-image" src="{{imgPath}}{{movieDetails.poster_path}}" alt="">
        </li>
        <li class="parent">
          <img class="responsive-img movie-backdrop-image" src="{{imgPath}}{{movieDetails.backdrop_path}}">
        </li>
      <!-- No Image -->
        <img class="no-images" src="movie-buddy/images/loading1.gif">
        <img class="black" src="movie-buddy/images/black.jpg">
      </ul>
    </div>
    <i class="fa fa-chevron-left fa-chevron-left1 fa-2x"></i>
    <i class="fa fa-chevron-right fa-chevron-right1 fa-2x"></i>
  </div>

<!-- Mobile -->
     <div class="tv-cast-wrapper hide-on-large-only">
    <div class="slider tv-slider slider1 ">
      <ul class="slides z-depth-3 slides1 ">
        <li>
          <img class="responsive-img movie-poster-image" src="{{imgPath}}{{movieDetails.poster_path}}" alt="">
        </li>
        <li class="parent">
          <img class="responsive-img movie-backdrop-image" src="{{imgPath}}{{movieDetails.backdrop_path}}">
        </li>
      <!-- No Image -->
        <img class="no-images" src="movie-buddy/images/loading1.gif">
        <img class="black" src="movie-buddy/images/black.jpg">
      </ul>
    </div>
    <i class="fa fa-chevron-left fa-chevron-left1 fa-2x"></i>
    <i class="fa fa-chevron-right fa-chevron-right1 fa-2x"></i>
  </div>



<!-- Movie Details -->
  <div class="col l6 s12 offset-l1">
    <h5 ng-init="limit=350" class="movieOverviewText">{{movieDetails.overview |truncate:limit}} <a class="readMoreLink" ng-click="limit=5000">Read More</a></h5>
  </br>
  <h5><a class="movie-homepage" href="{{movieDetails.homepage}}" target="_blank">{{movieDetails.homepage}}</a></h5>
</div>
</div><!-- end of row -->

<div class="row">

<!-- Rating -->
 <div class="col s12 m3 l3">
  <div class="section">
    <h5 class="drop-shadow">Average Rating:</h5>
    <h3 class="movie-vote">{{movieDetails.vote_average}}</h3>
  </div>

  <!-- Release Date -->
    <div class="section">
      <h5 class="drop-shadow">Theatrical Release Date:</h5>
      <h3 class="movie-release-date">{{movieDetails.release_date | date}}</h3>
    </div>
</div>

<!-- Genres -->
<div class="col s12 m3 l3">
  <div class="section">
    <h5 class="drop-shadow">Genres:</h5>
    <ul class="movieGenres">
      <li class="movie-genres-name" ng-repeat="x in movieDetails.genres">{{x.name}}</li>
    </ul>
  </div>
</div>

<!-- Directed By -->
<div class="col s12 m3 l3">
  <div class="section">
    <h5 class="drop-shadow">{{movieCredits.crew[0].job}}:</h5>
    <a href="movie-buddy/#person/{{movieCredits.crew[0].id}}">
      <h5>{{movieCredits.crew[0].name}}</h5>
    </a>
    </div>

<div class="section">
    <h5 class="drop-shadow">{{movieCredits.crew[1].job}}:</h5>
    <a href="movie-buddy/#person/{{movieCredits.crew[1].id}}">
      <h5>{{movieCredits.crew[1].name}}</h5>
    </a>
    </div>

<div class="section">
    <h5 class="drop-shadow">{{movieCredits.crew[2].job}}:</h5>
    <a href="movie-buddy/#person/{{movieCredits.crew[2].id}}">
      <h5>{{movieCredits.crew[2].name}}</h5>
    </a>


  </div>
</div>

<!-- Production Companies -->
<div class="col s12 m3 l3">
  <div class="section">
    <h5 class="drop-shadow">Production Companies:</h5>
    <ul class="movieProductionCompanies">
      <li class="movie-production-companies" ng-repeat="x in movieDetails.production_companies">{{x.name}}</li>
    </ul>
  </div>
</div>
</div><!-- end of row -->


<!-- TRAILER -->
<div class="row">
  <div class="section">
    <h4 class="drop-shadow">Trailer:</h4>
    <div class="video-container z-depth-3">
      <iframe class="trailer"
      ng-src="{{linkYoutube}}"  allowfullscreen>
    </iframe>
  </div>
</div>
</div>
</div>




<!-- REVIEWS -->
<div class="row">
  <div class="col s10 offset-s1">
    <ul>
      <li ng-model="review" class="movieReviewText" ng-init="limit1=150">
        <p class="movie-review-content1 movie-content-review">{{movieReviews.results[0].content | truncate:limit1}}<a class="readMoreLink-reviews1" ng-click="limit1=5000" onClick="hideFunction()"> Read More</a></p>
        {{movieReviews.results[0].author}}
      </li>
      <li ng-model="review" class="movieReviewText" ng-init="limit2=150">
        <p class="movie-review-content2 movie-content-review">{{movieReviews.results[1].content | truncate:limit2}}<a class="readMoreLink-reviews2" ng-click="limit2=5000" onClick="hideFunction()"> Read More</a></p>
        {{movieReviews.results[1].author}}
      </li>
      <li ng-model="review" class="movieReviewText" ng-init="limit3=150">
        <p class="movie-review-content3 movie-content-review">{{movieReviews.results[2].content | truncate:limit3}}<a class="readMoreLink-reviews3" ng-click="limit3=5000" onClick="hideFunction()"> Read More</a></p>
        {{movieReviews.results[2].author}}
      </li>
    </ul>
  </div>
</div>


<!-- Cast Slider -->
<!-- <div class="row"> -->
  <div class="tv-cast-wrapper movie-similar-wrapper movie-similar-wrapper1">
    <h4 class="drop-shadow">Cast:</h4>
    <div class="slider tv-slider slider2">
      <ul class="slides z-depth-3 slides2 movieCast">
        <li>
          <a href="movie-buddy/#person/{{movieCast.cast[0].id}}">
            <img class="responsive-img  red-border" src="{{imgPath}}{{movieCast.cast[0].profile_path}}" alt="">
            <p class="movieCastName">{{movieCast.cast[0].name}}</p>
            <p class="moveCastRole">{{movieCast.cast[0].character}}</p>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#person/{{movieCast.cast[1].id}}">
            <img class="responsive-img  red-border" src="{{imgPath}}{{movieCast.cast[1].profile_path}}" alt="">
            <p class="movieCastName">{{movieCast.cast[1].name}}</p>
            <p class="moveCastRole">{{movieCast.cast[1].character}}</p>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#person/{{movieCast.cast[2].id}}">
            <img class="responsive-img  red-border" src="{{imgPath}}{{movieCast.cast[2].profile_path}}" alt="">
            <p class="movieCastName">{{movieCast.cast[2].name}}</p>
            <p class="moveCastRole">{{movieCast.cast[2].character}}</p>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#person/{{movieCast.cast[3].id}}">
            <img class="responsive-img  red-border" src="{{imgPath}}{{movieCast.cast[3].profile_path}}" alt="">
            <p class="movieCastName">{{movieCast.cast[3].name}}</p>
            <p class="moveCastRole">{{movieCast.cast[3].character}}</p>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#person/{{movieCast.cast[4].id}}">
            <img class="responsive-img  red-border" src="{{imgPath}}{{movieCast.cast[4].profile_path}}" alt="">
            <p class="movieCastName">{{movieCast.cast[4].name}}</p>
            <p class="moveCastRole">{{movieCast.cast[4].character}}</p>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#person/{{movieCast.cast[5].id}}">
            <img class="responsive-img  red-border" src="{{imgPath}}{{movieCast.cast[5].profile_path}}" alt="">
            <p class="movieCastName">{{movieCast.cast[5].name}}</p>
            <p class="moveCastRole">{{movieCast.cast[5].character}}</p>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#person/{{movieCast.cast[6].id}}">
            <img class="responsive-img  red-border" src="{{imgPath}}{{movieCast.cast[6].profile_path}}" alt="">
            <p class="movieCastName">{{movieCast.cast[6].name}}</p>
            <p class="moveCastRole">{{movieCast.cast[6].character}}</p>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#person/{{movieCast.cast[7].id}}">
            <img class="responsive-img  red-border" src="{{imgPath}}{{movieCast.cast[7].profile_path}}" alt="">
            <p class="movieCastName">{{movieCast.cast[7].name}}</p>
            <p class="moveCastRole">{{movieCast.cast[7].character}}</p>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#person/{{movieCast.cast[8].id}}">
            <img class="responsive-img  red-border" src="{{imgPath}}{{movieCast.cast[8].profile_path}}" alt="">
            <p class="movieCastName">{{movieCast.cast[8].name}}</p>
            <p class="moveCastRole">{{movieCast.cast[8].character}}</p>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#person/{{movieCast.cast[9].id}}">
            <img class="responsive-img  red-border" src="{{imgPath}}{{movieCast.cast[9].profile_path}}" alt="">
            <p class="movieCastName">{{movieCast.cast[9].name}}</p>
            <p class="moveCastRole">{{movieCast.cast[9].character}}</p>
          </a>
        </li>
        <!-- No Image -->
        <img class="no-images" src="movie-buddy/images/loading1.gif">
        <img class="black" src="movie-buddy/images/black.jpg">
      </ul>
    </div>
    <i class="fa fa-chevron-left fa-chevron-left2 fa-2x"></i>
    <i class="fa fa-chevron-right fa-chevron-right2 fa-2x"></i>
  </div>


<!-- Similar Movies -->
  <div class="tv-cast-wrapper movie-similar-wrapper movie-similar-wrapper2">
    <h4 class="drop-shadow">Similar Movies:</h4>
    <div class="slider tv-slider slider3">
      <ul class="slides z-depth-3 slides3" >
        <li>
          <a href="movie-buddy/#movie/{{movieSimilar.results[0].id}}">
            <img class="responsive-img red-border movieSimilar0" src="{{imgPath}}{{movieSimilar.results[0].poster_path}}">
            <h5 class="similar-movie-vote">{{movieSimilar.results[0].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#movie/{{movieSimilar.results[1].id}}">
            <img class="responsive-img red-border movieSimilar0" src="{{imgPath}}{{movieSimilar.results[1].poster_path}}">
            <h5 class="similar-movie-vote">{{movieSimilar.results[1].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#movie/{{movieSimilar.results[2].id}}">
            <img class="responsive-img red-border movieSimilar0" src="{{imgPath}}{{movieSimilar.results[2].poster_path}}">
            <h5 class="similar-movie-vote">{{movieSimilar.results[2].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#movie/{{movieSimilar.results[3].id}}">
            <img class="responsive-img red-border movieSimilar0" src="{{imgPath}}{{movieSimilar.results[3].poster_path}}">
            <h5 class="similar-movie-vote">{{movieSimilar.results[3].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#movie/{{movieSimilar.results[4].id}}">
            <img class="responsive-img red-border movieSimilar0" src="{{imgPath}}{{movieSimilar.results[4].poster_path}}">
            <h5 class="similar-movie-vote">{{movieSimilar.results[4].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#movie/{{movieSimilar.results[5].id}}">
            <img class="responsive-img red-border movieSimilar0" src="{{imgPath}}{{movieSimilar.results[5].poster_path}}">
            <h5 class="similar-movie-vote">{{movieSimilar.results[5].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#movie/{{movieSimilar.results[6].id}}">
            <img class="responsive-img red-border movieSimilar0" src="{{imgPath}}{{movieSimilar.results[6].poster_path}}">
            <h5 class="similar-movie-vote">{{movieSimilar.results[6].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#movie/{{movieSimilar.results[7].id}}">
            <img class="responsive-img red-border movieSimilar0" src="{{imgPath}}{{movieSimilar.results[7].poster_path}}">
            <h5 class="similar-movie-vote">{{movieSimilar.results[7].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#movie/{{movieSimilar.results[8].id}}">
            <img class="responsive-img red-border movieSimilar0" src="{{imgPath}}{{movieSimilar.results[8].poster_path}}">
            <h5 class="similar-movie-vote">{{movieSimilar.results[8].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="movie-buddy/#movie/{{movieSimilar.results[9].id}}">
            <img class="responsive-img red-border movieSimilar0" src="{{imgPath}}{{movieSimilar.results[9].poster_path}}">
            <h5 class="similar-movie-vote">{{movieSimilar.results[9].vote_average}}</h5>
          </a>
        </li>
        <!-- No Image -->
        <img class="no-images" src="movie-buddy/images/loading1.gif">
        <img class="black" src="movie-buddy/images/black.jpg">
      </ul>
    </div>
    <i class="fa fa-chevron-left fa-chevron-left3 fa-2x"></i>
    <i class="fa fa-chevron-right fa-chevron-right3 fa-2x"></i>
  </div>
</div><!--End of row -->
</div>
<!-- </div> -->


<script>
$('.fa-chevron-right1').click(function() {
  $('.slider1').slider('next');
  $('.slider1').slider('pause');
  setTimeout(function(){
    $('.slider1').slider('start');
  }, 5000);
});
$('.fa-chevron-left1').click(function() {
  $('.slider1').slider('prev');
  $('.slider1').slider('pause');
  setTimeout(function(){
    $('.slider1').slider('start');
  }, 5000);
});
$('.fa-chevron-right2').click(function() {
  $('.slider2').slider('next');
  $('.slider2').slider('pause');
  setTimeout(function(){
    $('.slider2').slider('start');
  }, 5000);
});
$('.fa-chevron-left2').click(function() {
  $('.slider2').slider('prev');
  $('.slider2').slider('pause');
  setTimeout(function(){
    $('.slider2').slider('start');
  }, 5000);
});
$('.fa-chevron-right3').click(function() {
  $('.slider3').slider('next');
  $('.slider3').slider('pause');
  setTimeout(function(){
    $('.slider3').slider('start');
  }, 5000);
});
$('.fa-chevron-left3').click(function() {
  $('.slider3').slider('prev');
  $('.slider3').slider('pause');
  setTimeout(function(){
    $('.slider3').slider('start');
  }, 5000);
});

function check_length(){
  if($('.movieOverviewText').text().length < 351  ){
    $('.readMoreLink').hide();
  }

  if($('.movie-review-content1').text().length < 150  ){
    $('.readMoreLink-reviews1').hide();
  }

  if($('.movie-review-content2').text().length < 150  ){
    $('.readMoreLink-reviews2').hide();
  }

  if($('.movie-review-content3').text().length < 150  ){
    $('.readMoreLink-reviews3').hide();
  }
  // alert($('.movieOverviewText').text().length);
}
setTimeout(check_length, 1500);


$('.readMoreLink').click(function() {
  $('.readMoreLink').hide();
});

$('.readMoreLink-reviews1').click(function() {
  $('.readMoreLink-reviews1').hide();
});

$('.readMoreLink-reviews2').click(function() {
  $('.readMoreLink-reviews2').hide();
});

$('.readMoreLink-reviews3').click(function() {
  $('.readMoreLink-reviews3').hide();
});


// $('.ytp-fullscreen-button').click(function(){
//   alert('works');
// });

$( document ).ready(function() {




});
</script>




