<script>
$('.carousel').carousel();
</script>


<!-- Popular Movies -->
  <div class="row moviesPage animated fadeIn">
    <div class="col s12">
      <div class="carousel">
        <h4>Now Playing in Theaters:</h4>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[0].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[0].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[1].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[1].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[2].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[2].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[3].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[3].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[4].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[4].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[5].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[5].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[6].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[6].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[7].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[7].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[8].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[8].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[9].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[9].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[10].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[10].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[11].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[11].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[12].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[12].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[13].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[13].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[14].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[14].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[15].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[15].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[16].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[16].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[17].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[17].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[18].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[18].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[19].poster_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[19].vote_average}}</h5>
        </div></a>
      </div>
    </div>
  </div>



<!-- Coming Attractions: -->
  <div class="row">
    <div class="col s12">
      <div class="carousel">
        <h4>Coming Attractions:</h4>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[0].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[0].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[1].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[1].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[2].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[2].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[3].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[3].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[4].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[4].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[5].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[5].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[6].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[6].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[7].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[7].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[8].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[8].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[9].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[9].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[10].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[10].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[11].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[11].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[12].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[12].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[13].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[13].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[14].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[14].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[15].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[15].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[16].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[16].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[17].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[17].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[18].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[18].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{comingMovies.results[19].poster_path}}" alt="">
          <h5 class="vote">{{comingMovies.results[19].vote_average}}</h5>
        </div></a>
      </div>
    </div>
  </div>



<!-- Top Rated: -->
  <div class="row">
    <div class="col s12">
      <div class="carousel">
        <h4>Top Rated Movies:</h4>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[0].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[0].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[1].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[1].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[2].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[2].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[3].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[3].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[4].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[4].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[5].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[5].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[6].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[6].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[7].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[7].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[8].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[8].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[9].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[9].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[10].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[10].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[11].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[11].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[12].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[12].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[13].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[13].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[14].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[14].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[15].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[15].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[16].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[16].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[17].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[17].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[18].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[18].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[19].poster_path}}" alt="">
          <h5 class="vote">{{topMovies.results[19].vote_average}}</h5>
        </div></a>
      </div>
    </div>
  </div>


<!-- Action Movies -->
  <div class="row">
    <div class="col s12">
      <div class="carousel">
        <h4>Action Movies:</h4>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[0].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[0].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[1].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[1].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[2].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[2].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[3].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[3].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[4].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[4].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[5].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[5].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[6].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[6].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[7].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[7].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[8].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[8].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[9].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[9].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[10].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[10].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[11].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[11].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[12].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[12].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[13].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[13].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[14].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[14].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[15].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[15].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[16].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[16].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[17].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[17].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[18].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[18].vote_average}}</h5>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{actionMovies.results[19].poster_path}}" alt="">
          <h5 class="vote">{{actionMovies.results[19].vote_average}}</h5>
        </div></a>
      </div>
    </div>
  </div>

