<script>
$('.carousel').carousel();
</script>

  <div class="row">
    <div class="col s12">
      <div class="carousel">
  <!-- Popular Movies -->
        <h4>Now Playing in Theaters:</h4>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[0].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[0].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[0].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[1].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[1].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[1].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[2].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[2].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[2].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[3].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[3].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[3].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[4].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[4].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[4].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[5].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[5].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[5].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[6].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[6].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[6].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[7].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[7].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[7].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[8].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[8].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[8].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[9].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[9].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[9].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[10].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[10].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[10].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[11].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[11].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[11].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[12].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[12].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[12].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[13].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[13].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[13].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[14].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[14].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[14].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[15].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[15].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[15].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[16].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[16].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[16].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[17].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[17].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[17].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[18].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[18].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[18].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{nowPlayingMovies.results[19].backdrop_path}}" alt="">
          <h5 class="vote">{{nowPlayingMovies.results[19].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{nowPlayingMovies.results[19].title}}</h5></div>
        </div></a>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col s12">
      <div class="carousel">
  <!-- Popular Movies -->
        <h4>Top Rated Movies:</h4>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[0].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[0].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[0].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[1].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[1].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[1].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[2].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[2].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[2].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[3].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[3].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[3].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[4].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[4].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[4].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[5].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[5].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[5].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[6].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[6].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[6].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[7].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[7].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[7].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[8].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[8].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[8].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[9].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[9].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[9].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[10].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[10].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[10].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[11].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[11].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[11].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[12].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[12].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[12].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[13].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[13].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[13].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[14].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[14].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[14].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[15].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[15].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[15].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[16].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[16].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[16].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[17].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[17].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[17].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[18].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[18].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[18].title}}</h5></div>
        </div></a>
        <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topMovies.results[19].backdrop_path}}" alt="">
          <h5 class="vote">{{topMovies.results[19].vote_average}}</h5>
          <div class="col s12 title-background"><h5 class="title">{{topMovies.results[19].title}}</h5></div>
        </div></a>
      </div>
    </div>
  </div>

