<script>
$('.carousel').carousel();
</script>


<div class="row moviePage animated fadeIn">

   <div class="col m6 s12">
    <img class="responsive-img" ng-src="{{imgPath}}{{movieDetails.poster_path}}">
  </div>

  <div class="col m5 s12">
    <h1>{{movieDetails.title}}</h1>
    <h5 class="movieOverviewText">{{movieDetails.overview}}</h5>
    <h5>Genres:</h5>
    <ul class="movieGenres">
      <li ng-repeat="x in movieDetails.genres">{{x.name}}</li>
    </ul>

      <a href="{{movieDetails.homepage}}">{{movieDetails.homepage}}</a>

<!--       <table>
        <thead>
          <tr>
            <th>Budget</th>
            <th>Revenue</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{movieDetails.budget | currency}}</td>
            <td>{{movieDetails.revenue | currency}}</td>
          </tr>
        </tbody>
      </table> -->

  </div>


  </div class="row">
  <div class="col s12">
    <p>{{winLocation}}</p>
    <p>trailer ID: {{movieTrailer.results[0].key}}</p>
    <!-- <p>{{youtube}}{{movieTrailer.results[0].key}}</p> -->

<!--     <iframe width="420" height="315"
      src="{{trailer}}{{movieTrailer.results[0].key}}">
    </iframe> -->



  </div>

  <div>


</div>



