<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<div class="nav-main-wrapper">
 <nav>
    <div class="nav-wrapper #90caf9 blue lighten-3
">
<div class="row">
  <div class="col s12">
      <img class="logo" src="http://downloadicons.net/sites/default/files/movie-icon-14032.png" alt="">
      <a href="#!" class="brand-logo center">Movie Buddy!</a>
      </div>
      </div>
    </div>
  </nav>

<!-- NAV LINKS -->
  <div class="row ">
    <div class="col s12 #283593 indigo darken-3 dark-blue">
    <div class="row">

    <ul class="categories">
      <a href="#/movies.html"><div class="col s2"><li>MOVIES</li></div></a>
      <a  href="#/tv.html"><div class="col s3"><li >TV-SHOWS</li></div></a>
      <a href="#/stars.html"><div class="col s2"><li>STARS</li></div></a>
      <!-- <div class="col m1"><li><i class="fa fa-search fa-2x" aria-hidden="true"></i></li></div> -->

      <div class="col s5 hide-on-small-only"><li><input id="searchBar" type="text" placeholder="Search Movies, TV-Shows, or Actors"></li></div>
      <div class="col s5 hide-on-med-and-up"><li><input id="searchBar" type="text" placeholder="Search"></li></div>
      </ul>
      </div>
      </div>
  </div>


<!-- SEARCH -->
  <div class="container">
   <!--     <div class="row">
      <div class="col s1">
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col s11">
                <input id="searchBar" type="text" placeholder="Search Movies, TV-Shows, or Actors">
        </div>
    </div> -->
    </div>
    </div>
