<script>
  $('.news-link').addClass('white');
  $('.tv-link').removeClass('white');
  $('.star-link').removeClass('white');
  $('.movie-link').removeClass('white');
</script>


<div class="container-fluid">

  <div class="section col s12">

<!-- HeyUGuys CINEMABLEND THR EW people enews  -->
<div id="twitter-widget-holder">


  <!-- TWITTER TIMELINE -->
    <a class="twitter-timeline"  href="https://twitter.com/search?q=from%3AMovieBuddy2%20OR%20from%3AHeyUGuys%20OR%20from%3AiTunesTrailers%20OR%20from%3ASpoilerTV%20OR%20from%3ACINEMABLEND%20OR%20from%3AEW%20OR%20from%3Apeople%20OR%20from%3Aenews%20OR%20from%3ATrailerAddict%20OR%20from%3AIGN%20OR%20from%3ASeeTrailers%20OR%20from%3Ascreenrant" data-widget-id="803658796975288320">Tweets about from:MovieBuddy2 OR from:HeyUGuys OR from:iTunesTrailers OR from:SpoilerTV OR from:CINEMABLEND OR from:EW OR from:people OR from:enews OR from:TrailerAddict OR from:IGN OR from:SeeTrailers OR from:screenrant</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>





</div>
</div>
</div>

<script>
twttr.widgets.load()
// FB.XFBML.parse()


</script>
