<div class="container">

<div class="section col s12">

<!--   CINEMABLEND
HeyUGuys
THR
EW
people
enews -->
<!-- <a class="twitter-grid" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->

            <a class="twitter-timeline"  href="https://twitter.com/search?q=from%3AHeyUGuys%20OR%20from%3ACINEMABLEND%20OR%20from%3ATHR%20OR%20from%3Apeople" data-widget-id="797197660360822785">Tweets about from:HeyUGuys OR from:CINEMABLEND OR from:THR OR from:people</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

















</div>
</div>
<script>
  // location.reload();
</script>
