 <script>
$('.carousel').carousel();
 </script>

<!-- On Air -->
<div class="row tvPage animated fadeIn">
  <div class="col s12">
    <div class="carousel">
      <h4>TV on Air:</h4>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[0].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[0].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[1].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[1].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[2].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[2].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[3].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[3].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[4].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[4].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[5].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[5].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[6].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[6].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[7].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[7].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[8].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[8].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[9].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[9].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[10].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[10].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[11].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[11].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[12].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[12].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[13].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[13].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[14].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[14].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[15].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[15].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[16].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[16].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[17].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[17].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[18].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[18].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTv.results[19].poster_path}}" alt="">
        <h5 class="vote">{{onAirTv.results[19].vote_average}}</h5>
      </div></a>
    </div>
  </div>
</div>
</br>

<!-- On Air Today -->
<div class="row">
  <div class="col s12">
    <div class="carousel">
      <h4>On Air Today:</h4>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[0].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[0].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[1].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[1].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[2].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[2].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[3].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[3].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[4].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[4].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[5].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[5].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[6].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[6].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[7].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[7].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[8].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[8].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[9].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[9].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[10].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[10].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[11].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[11].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[12].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[12].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[13].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[13].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[14].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[14].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[15].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[15].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[16].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[16].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[17].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[17].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[18].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[18].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{onAirTodayTv.results[19].poster_path}}" alt="">
        <h5 class="vote">{{onAirTodayTv.results[19].vote_average}}</h5>
      </div></a>
    </div>
  </div>
</div>
</br>



<!-- Top Rated -->
<div class="row">
  <div class="col s12">
    <div class="carousel">
      <h4>Top Rated TV:</h4>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[0].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[0].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[1].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[1].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[2].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[2].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[3].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[3].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[4].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[4].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[5].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[5].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[6].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[6].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[7].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[7].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[8].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[8].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[9].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[9].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[10].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[10].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[11].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[11].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[12].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[12].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[13].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[13].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[14].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[14].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[15].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[15].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[16].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[16].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[17].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[17].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[18].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[18].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row"><img class="responsive-img" src="{{imgPath}}{{topRatedTv.results[19].poster_path}}" alt="">
        <h5 class="vote">{{topRatedTv.results[19].vote_average}}</h5>
      </div></a>
    </div>
  </div>
</div>
</br>



