<!-- <h1>TV PAGE!</h1> -->
<script>
$('.carousel').carousel();
$('.materialboxed').materialbox();
</script>

<div class="container animated fadeIn">
<div class="row">

  <div class="col s12 m6">
      <img class="responsive-img materialboxed z-depth-3" ng-src="{{imgPath}}{{tvDetails.poster_path}}">
  </div>

  <div class="col s12 m6">
    <h1 class="drop-shadow">{{tvDetails.name}}</h1>
    <h5 ng-init="limit=200" class="tv-overview-text">{{tvDetails.overview | truncate:limit}}
      <a class="readMoreLink" ng-click="limit=5000">Read More</a>
    </h5>
    <a href="{{tvDetails.homepage}}" target="_blank">{{tvDetails.homepage}}</a>
  </br>
  </br>
  <h5 class="drop-shadow">Genres:</h5>
  <ul class="tvGenres">
      <li class="tv-genres" ng-repeat="x in tvDetails.genres">{{x.name}}</li>
  </ul>

<h5 class="drop-shadow">Average Rating:</h5>
<h3> {{tvDetails.vote_average}}</h3>
<h5>No. of seasons: {{tvDetails.number_of_seasons}}</h5>
<h5>No. of episodes: {{tvDetails.number_of_episodes}}</h5>
</br>
<h5 class="drop-shadow">Production Companies:</h5>
  <ul class="tvProductionCompanies">
      <li class="tv-production-companies" ng-repeat="x in tvDetails.production_companies">{{x.name}}</li>
  </ul>

  </div>
</div>

  <h4 class="drop-shadow">Trailer:</h4>
  <div class="video-container z-depth-3">
    <iframe
      ng-src="{{linkYoutubeTv}}"  allowfullscreen>
    </iframe>
    </div>

 </div class="row">
  <div class="col s12">
    <div class="carousel">
      <h3 class="drop-shadow">CAST:</h3>
        <a class="carousel-item" href=""><div class="waves-effect row">
          <h5 class="tv-credit-name">{{tvCredits.cast[0].name}}</h5>
        <img class="responsive-img" src="{{imgPath}}{{tvCredits.cast[0].profile_path}}" alt="">
        <h5 class="tv-credit-character">{{tvCredits.cast[0].character}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
          <h5 class="tv-credit-name">{{tvCredits.cast[1].name}}</h5>
        <img class="responsive-img" src="{{imgPath}}{{tvCredits.cast[1].profile_path}}" alt="">
        <h5 class="tv-credit-character">{{tvCredits.cast[1].character}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
          <h5 class="tv-credit-name">{{tvCredits.cast[2].name}}</h5>
        <img class="responsive-img" src="{{imgPath}}{{tvCredits.cast[2].profile_path}}" alt="">
        <h5 class="tv-credit-character">{{tvCredits.cast[2].character}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
          <h5 class="tv-credit-name">{{tvCredits.cast[3].name}}</h5>
        <img class="responsive-img" src="{{imgPath}}{{tvCredits.cast[3].profile_path}}" alt="">
        <h5 class="tv-credit-character">{{tvCredits.cast[3].character}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
          <h5 class="tv-credit-name">{{tvCredits.cast[4].name}}</h5>
        <img class="responsive-img" src="{{imgPath}}{{tvCredits.cast[4].profile_path}}" alt="">
        <h5 class="tv-credit-character">{{tvCredits.cast[4].character}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
          <h5 class="tv-credit-name">{{tvCredits.cast[5].name}}</h5>
        <img class="responsive-img" src="{{imgPath}}{{tvCredits.cast[5].profile_path}}" alt="">
        <h5 class="tv-credit-character">{{tvCredits.cast[5].character}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
          <h5 class="tv-credit-name">{{tvCredits.cast[6].name}}</h5>
        <img class="responsive-img" src="{{imgPath}}{{tvCredits.cast[6].profile_path}}" alt="">
        <h5 class="tv-credit-character">{{tvCredits.cast[6].character}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
          <h5 class="tv-credit-name">{{tvCredits.cast[7].name}}</h5>
        <img class="responsive-img" src="{{imgPath}}{{tvCredits.cast[7].profile_path}}" alt="">
        <h5 class="tv-credit-character">{{tvCredits.cast[7].character}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
          <h5 class="tv-credit-name">{{tvCredits.cast[8].name}}</h5>
        <img class="responsive-img" src="{{imgPath}}{{tvCredits.cast[8].profile_path}}" alt="">
        <h5 class="tv-credit-character">{{tvCredits.cast[8].character}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
          <h5 class="tv-credit-name">{{tvCredits.cast[10].name}}</h5>
        <img class="responsive-img" src="{{imgPath}}{{tvCredits.cast[10].profile_path}}" alt="">
        <h5 class="tv-credit-character">{{tvCredits.cast[10].character}}</h5>
      </div></a>
    </div>
  </div>
  </div>


<!-- SIMILAR SHOWS -->
<div class="row">
  <div class="col s12">
    <div class="carousel">
        <h3 class="drop-shadow">SIMILAR SHOWS:</h3>
        <a class="carousel-item" href=""><div class="waves-effect row">
        <img class="responsive-img" src="{{imgPath}}{{tvSimilar.results[0].poster_path}}" alt="">
        <h5 class="similar-tv-vote">{{tvSimilar.results[0].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
        <img class="responsive-img" src="{{imgPath}}{{tvSimilar.results[1].poster_path}}" alt="">
        <h5 class="similar-tv-vote">{{tvSimilar.results[1].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
        <img class="responsive-img" src="{{imgPath}}{{tvSimilar.results[2].poster_path}}" alt="">
        <h5 class="similar-tv-vote">{{tvSimilar.results[2].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
        <img class="responsive-img" src="{{imgPath}}{{tvSimilar.results[3].poster_path}}" alt="">
        <h5 class="similar-tv-vote">{{tvSimilar.results[3].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
        <img class="responsive-img" src="{{imgPath}}{{tvSimilar.results[4].poster_path}}" alt="">
        <h5 class="similar-tv-vote">{{tvSimilar.results[4].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
        <img class="responsive-img" src="{{imgPath}}{{tvSimilar.results[5].poster_path}}" alt="">
        <h5 class="similar-tv-vote">{{tvSimilar.results[5].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
        <img class="responsive-img" src="{{imgPath}}{{tvSimilar.results[6].poster_path}}" alt="">
        <h5 class="similar-tv-vote">{{tvSimilar.results[6].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
        <img class="responsive-img" src="{{imgPath}}{{tvSimilar.results[7].poster_path}}" alt="">
        <h5 class="similar-tv-vote">{{tvSimilar.results[7].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
        <img class="responsive-img" src="{{imgPath}}{{tvSimilar.results[8].poster_path}}" alt="">
        <h5 class="similar-tv-vote">{{tvSimilar.results[8].vote_average}}</h5>
      </div></a>
      <a class="carousel-item" href=""><div class="waves-effect row">
        <img class="responsive-img" src="{{imgPath}}{{tvSimilar.results[9].poster_path}}" alt="">
        <h5 class="similar-tv-vote">{{tvSimilar.results[9].vote_average}}</h5>
      </div></a>
    </div>
  </div>
</div>


<!-- Season Posters -->
<!-- <div class="row">
  <div class="col s12">
    <ul class="seasons">
      <li ng-repeat="x in tvDetails.seasons"><img src="{{imgPath}}{{x.poster_path}}" alt=""></li>
    </ul>
    </div>
  </div> -->

</div>


<!-- {{tvDetails.name}} -->
