<script>
$('.carousel').carousel();
$('.materialboxed').materialbox();
$('.slider').slider({full_width: false});
$("html, body").animate({ scrollTop: 0 }, 0);

</script>



<div class="container animated fadeIn">

  <!-- Name -->
     <h3 class="drop-shadow">{{tvDetails.name}}</h3>


 <!-- TV POSTER SLIDER -->
<div class="row">
  <div class="tv-cast-wrapper col s12 m12 l4  offset-m4 offset-s1">
    <div class="slider tv-slider slider3">
      <ul class="slides z-depth-3 slides3">
        <li>
            <img class="responsive-img" src="{{imgPath}}{{tvDetails.poster_path}}" alt="">
        </li>
        <li>
            <img class="responsive-img" src="{{imgPath}}{{tvDetails.backdrop_path}}" alt="">
        </li>
        <li>
            <img class="responsive-img" ng-src="{{imgPath}}{{tvDetails.seasons[0].poster_path}}">
        </li>
        <li>
            <img class="responsive-img" ng-src="{{imgPath}}{{tvDetails.seasons[1].poster_path}}">
        </li>
        <li>
            <img class="responsive-img" ng-src="{{imgPath}}{{tvDetails.seasons[2].poster_path}}">
        </li>
        <li>
            <img class="responsive-img" ng-src="{{imgPath}}{{tvDetails.seasons[3].poster_path}}">
        </li>
        <li>
            <img class="responsive-img" ng-src="{{imgPath}}{{tvDetails.seasons[4].poster_path}}">
        </li>
        <li>
            <img class="responsive-img" ng-src="{{imgPath}}{{tvDetails.seasons[5].poster_path}}">
        </li>
        <li>
            <img class="responsive-img" ng-src="{{imgPath}}{{tvDetails.seasons[6].poster_path}}">
        </li>
        <li>
            <img class="responsive-img" ng-src="{{imgPath}}{{tvDetails.seasons[7].poster_path}}">
        </li>
        <!-- No Image -->
        <img class="no-images" src="images/no-images.png">
      </ul>
    </div>
    <i class="fa fa-chevron-left fa-chevron-left3 fa-2x"></i>
    <i class="fa fa-chevron-right fa-chevron-right3 fa-2x"></i>
  </div>




  <!-- OverView -->
  <div class="col s12 l7 offset-l1">
    <h5 ng-init="limit=400" class="tv-overview-text">{{tvDetails.overview | truncate:limit}}
      <a class="readMoreLink" ng-click="limit=5000">Read More</a>
    </h5>

    <!-- HomePage -->
    <div class="section">
      <h5><a class="homepage-link" href="{{tvDetails.homepage}}" target="_blank">{{tvDetails.homepage}}</a></h5>
    </div>

    </div>
  </br>


</div><!-- end of row -->

    <div class="row">


     <!-- Rating -->
      <div class="col s12 m3 l3">
        <div class="section">
          <h5 class="drop-shadow">Average Rating:</h5>
          <h3 class="movie-vote"> {{tvDetails.vote_average}}</h3>
          </div>
      </div>

  <!-- Genres -->
      <div class="col s12 m3 l3">
        <div class="section">
        <h5 class="drop-shadow">Genres:</h5>
        <ul class="tvGenres">
          <li class="tv-genres " ng-repeat="x in tvDetails.genres">{{x.name}}</li>
        </br>
        </ul>
        </div>
      </div>

    <!-- Seasons/Episodes -->
      <div class="col s12 m3 l3">
        <div class="section">
        <!-- <div class="section"> -->
        <h5 class="drop-shadow">No. of seasons:</h5> <h5>{{tvDetails.number_of_seasons}}</h5>
        <h5 class="drop-shadow">No. of episodes:</h5> <h5>{{tvDetails.number_of_episodes}}</h5>
        </div>
      </div>

      <!-- Production Companies -->
      <div class="col s12 m3 l3">
        <div class="section">
        <h5 class="drop-shadow">Production Companies:</h5>
        <ul class="tvProductionCompanies">
          <li class="tv-production-companies" ng-repeat="x in tvDetails.production_companies"><p>{{x.name}}</p></li>
        </ul>
  </div>
  </div>
  </div><!-- end of row -->


<!-- TRAILER -->
<div class="row">
  <div class="section">
    <h4 class="drop-shadow">Trailer:</h4>
    <div class="video-container z-depth-3">
      <iframe class="trailer"
      ng-src="{{linkYoutubeTv}}"  allowfullscreen>
    </iframe>
  </div>
</div>
</div>



<!-- CAST -->
  <div class="row">


  <div class="tv-cast-wrapper col s12 m12 l4 offset-l1 offset-m4 offset-s1">
    <h4 class="drop-shadow">Cast:</h4>
    <div class="slider tv-slider slider1">
      <ul class="slides z-depth-3 slides1">
        <li>
          <a href="#star/{{tvCredits.cast[0].id}}">
            <h5 class="tv-credit-name">{{tvCredits.cast[0].name}}</h5>
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvCredits.cast[0].profile_path}}" alt="">
            <h5 class="cast-character">{{tvCredits.cast[0].character}}</h5>
          </a>
        </li>
        <li>
          <a href="#star/{{tvCredits.cast[1].id}}">
            <h5 class="tv-credit-name">{{tvCredits.cast[1].name}}</h5>
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvCredits.cast[1].profile_path}}" alt="">
            <h5 class="cast-character">{{tvCredits.cast[1].character}}</h5>
          </a>
        </li>
        <li>
          <a href="#star/{{tvCredits.cast[2].id}}">
            <h5 class="tv-credit-name">{{tvCredits.cast[2].name}}</h5>
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvCredits.cast[2].profile_path}}" alt="">
            <h5 class="cast-character">{{tvCredits.cast[2].character}}</h5>
          </a>
        </li>
        <li>
          <a href="#star/{{tvCredits.cast[3].id}}">
            <h5 class="tv-credit-name">{{tvCredits.cast[3].name}}</h5>
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvCredits.cast[3].profile_path}}" alt="">
            <h5 class="cast-character">{{tvCredits.cast[3].character}}</h5>
          </a>
        </li>
        <li>
          <a href="#star/{{tvCredits.cast[4].id}}">
            <h5 class="tv-credit-name">{{tvCredits.cast[4].name}}</h5>
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvCredits.cast[4].profile_path}}" alt="">
            <h5 class="cast-character">{{tvCredits.cast[4].character}}</h5>
          </a>
        </li>
        <li>
          <a href="#star/{{tvCredits.cast[5].id}}">
            <h5 class="tv-credit-name">{{tvCredits.cast[5].name}}</h5>
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvCredits.cast[5].profile_path}}" alt="">
            <h5 class="cast-character">{{tvCredits.cast[5].character}}</h5>
          </a>
        </li>
        <li>
          <a href="#star/{{tvCredits.cast[6].id}}">
            <h5 class="tv-credit-name">{{tvCredits.cast[6].name}}</h5>
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvCredits.cast[6].profile_path}}" alt="">
            <h5 class="cast-character">{{tvCredits.cast[6].character}}</h5>
          </a>
        </li>
        <!-- No Image -->
        <img class="no-images" src="images/no-images.png">
      </ul>
    </div>
    <i class="fa fa-chevron-left fa-chevron-left1 fa-2x"></i>
    <i class="fa fa-chevron-right fa-chevron-right1 fa-2x"></i>
  </div>



<!-- Similar Shows -->
  <div class="tv-cast-wrapper col s12 m12 l4 offset-l2 offset-m4 offset-s1">
    <h4 class="drop-shadow">Similar TV:</h4>
    <div class="slider tv-slider slider2">
      <ul class="slides z-depth-3 slides2">
        <li>
          <a href="#tv/{{tvSimilar.results[0].id}}">
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvSimilar.results[0].poster_path}}" alt="">
            <h5 class="similar-tv-vote">{{tvSimilar.results[0].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="#tv/{{tvSimilar.results[1].id}}">
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvSimilar.results[1].poster_path}}" alt="">
            <h5 class="similar-tv-vote">{{tvSimilar.results[1].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="#tv/{{tvSimilar.results[2].id}}">
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvSimilar.results[2].poster_path}}" alt="">
            <h5 class="similar-tv-vote">{{tvSimilar.results[2].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="#tv/{{tvSimilar.results[3].id}}">
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvSimilar.results[3].poster_path}}" alt="">
            <h5 class="similar-tv-vote">{{tvSimilar.results[3].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="#tv/{{tvSimilar.results[4].id}}">
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvSimilar.results[4].poster_path}}" alt="">
            <h5 class="similar-tv-vote">{{tvSimilar.results[4].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="#tv/{{tvSimilar.results[5].id}}">
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvSimilar.results[5].poster_path}}" alt="">
            <h5 class="similar-tv-vote">{{tvSimilar.results[5].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="#tv/{{tvSimilar.results[6].id}}">
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvSimilar.results[6].poster_path}}" alt="">
            <h5 class="similar-tv-vote">{{tvSimilar.results[6].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="#tv/{{tvSimilar.results[7].id}}">
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvSimilar.results[7].poster_path}}" alt="">
            <h5 class="similar-tv-vote">{{tvSimilar.results[7].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="#tv/{{tvSimilar.results[8].id}}">
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvSimilar.results[8].poster_path}}" alt="">
            <h5 class="similar-tv-vote">{{tvSimilar.results[8].vote_average}}</h5>
          </a>
        </li>
        <li>
          <a href="#tv/{{tvSimilar.results[9].id}}">
            <img class="responsive-img cast-pic" src="{{imgPath}}{{tvSimilar.results[9].poster_path}}" alt="">
            <h5 class="similar-tv-vote">{{tvSimilar.results[9].vote_average}}</h5>
          </a>
        </li>
        <!-- No Image -->
        <img class="no-images" src="images/no-images.png">
      </ul>
    </div>
    <i class="fa fa-chevron-left fa-chevron-left2 fa-2x"></i>
    <i class="fa fa-chevron-right fa-chevron-right2 fa-2x"></i>
  </div>
  </div>
  </div>



<script>

$('.fa-chevron-right1').click(function() {
  $('.slider1').slider('next');
  $('.slider1').slider('pause');
  setTimeout(function(){
    $('.slider1').slider('start');
  }, 5000);
});
$('.fa-chevron-left1').click(function() {
  $('.slider1').slider('prev');
  $('.slider1').slider('pause');
  setTimeout(function(){
    $('.slider1').slider('start');
  }, 5000);
});
$('.fa-chevron-right2').click(function() {
  $('.slider2').slider('next');
  $('.slider2').slider('pause');
  setTimeout(function(){
    $('.slider2').slider('start');
  }, 5000);
});
$('.fa-chevron-left2').click(function() {
  $('.slider2').slider('prev');
  $('.slider2').slider('pause');
  setTimeout(function(){
    $('.slider2').slider('start');
  }, 5000);
});
$('.fa-chevron-right3').click(function() {
  $('.slider3').slider('next');
  $('.slider3').slider('pause');
  setTimeout(function(){
    $('.slider3').slider('start');
  }, 5000);
});
$('.fa-chevron-left3').click(function() {
  $('.slider3').slider('prev');
  $('.slider3').slider('pause');
  setTimeout(function(){
    $('.slider3').slider('start');
  }, 5000);
});

function check_length(){
  if($('.tv-overview-text').text().length < 421){
    $('.readMoreLink').hide();
  }
  // alert($('.tv-overview-text').text().length);
}
setTimeout(check_length, 700);

$('.readMoreLink').click(function() {
  $('.readMoreLink').hide();
});


</script>
