<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movie Buddy</title>
  <link rel="stylesheet" href="public/css/styles.css">

<!-- GOOGLE FONTS: -->
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
<!-- JQUERY: -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- ANGULAR: -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<!-- FINALIZED JS FILE: -->
  <script type="text/Javascript" src="app.js"></script>


<!-- BOOTSTRAP:
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

<!-- Animate.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">

<!-- Font-Awesome -->
<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" >

<!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

<!-- Browser Tab Icon: -->
  <link rel="icon" href="http://downloadicons.net/sites/default/files/movie-icon-14032.png">
</head>

<body ng-app="myApp" ng-controller="myCtrl">

<div class="nav-main-wrapper">
 <nav>
    <div class="nav-wrapper #90caf9 blue lighten-3
">
<div class="row">
  <div class="col s12">
      <img class="logo" src="http://downloadicons.net/sites/default/files/movie-icon-14032.png" alt="">
      <a href="#!" class="brand-logo center">Movie Buddy!</a>
      </div>
      </div>
    </div>
  </nav>


<!-- NAV LINKS -->
  <div class="row ">
    <div class="col s12 #283593 indigo darken-3 dark-blue">
    <div class="row">

    <ul class="categories">
      <div class="col s2"><li><a href="sass.html">MOVIES</a></li></div>
      <div class="col s3"><li ><a  href="sass.html">TV-SHOWS</a></li></div>
      <div class="col s2"><li><a href="sass.html">ACTORS</a></li></div>
      <!-- <div class="col m1"><li><i class="fa fa-search fa-2x" aria-hidden="true"></i></li></div> -->

      <div class="col s5 hide-on-small-only"><li><input id="searchBar" type="text" placeholder="Search Movies, TV-Shows, or Actors"></li></div>
      <div class="col s5 hide-on-med-and-up"><li><input id="searchBar" type="text" placeholder="Search"></li></div>



      </ul>
      </div>
      </div>
  </div>


<!-- SEARCH -->
  <div class="container">
   <!--     <div class="row">
      <div class="col s1">
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col s11">
                <input id="searchBar" type="text" placeholder="Search Movies, TV-Shows, or Actors">
        </div>
    </div> -->
    </div>
    </div>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<div class="main">
  <div class="row">
    <div class="col s12">
      <div class="carousel">
        <h4>Popular Movies:</h4>
        <a class="carousel-item" href=""><div class="waves-effect"><img class="responsive-img" src="{{imgPath}}{{popularMovies.results[0].backdrop_path}}" alt=""></div></a>
        <a class="carousel-item" href=""><div class="waves-effect"><img class="responsive-img" src="{{imgPath}}{{popularMovies.results[1].backdrop_path}}" alt=""></div></a>
        <a class="carousel-item" href=""><div class="waves-effect"><img class="responsive-img" src="{{imgPath}}{{popularMovies.results[2].backdrop_path}}" alt=""></div></a>
        <a class="carousel-item" href=""><div class="waves-effect"><img class="responsive-img" src="{{imgPath}}{{popularMovies.results[3].backdrop_path}}" alt=""></div></a>
        <a class="carousel-item" href=""><div class="waves-effect"><img class="responsive-img" src="{{imgPath}}{{popularMovies.results[4].backdrop_path}}" alt=""></div></a>
      </div>
  </div>
  </div>
</br>
<HR>
</br>
<div class="row">
    <div class="col s12">
      <div class="carousel">
        <h4>Popular TV:</h4>
        <a class="carousel-item" href=""><img class="responsive-img" src="{{imgPath}}{{popularTv.results[0].backdrop_path}}" alt=""></a>
        <a class="carousel-item" href=""><img class="responsive-img" src="{{imgPath}}{{popularTv.results[1].backdrop_path}}" alt=""></a>
        <a class="carousel-item" href=""><img class="responsive-img" src="{{imgPath}}{{popularTv.results[2].backdrop_path}}" alt=""></a>
        <a class="carousel-item" href=""><img class="responsive-img" src="{{imgPath}}{{popularTv.results[3].backdrop_path}}" alt=""></a>
        <a class="carousel-item" href=""><img class="responsive-img" src="{{imgPath}}{{popularTv.results[4].backdrop_path}}" alt=""></a>
      </div>
  </div>
  </div>
</br>
<HR>
</br>
<div class="row">
      <div class="col s12">
      <div class="carousel">
        <h4>Popular Stars:</h4>
        <a class="carousel-item" href=""><img class="responsive-img" src="{{imgPath}}{{popularPeople.results[0].profile_path}}" alt=""></a>
        <a class="carousel-item" href=""><img class="responsive-img" src="{{imgPath}}{{popularPeople.results[1].profile_path}}" alt=""></a>
        <a class="carousel-item" href=""><img class="responsive-img" src="{{imgPath}}{{popularPeople.results[2].profile_path}}" alt=""></a>
        <a class="carousel-item" href=""><img class="responsive-img" src="{{imgPath}}{{popularPeople.results[3].profile_path}}" alt=""></a>
        <a class="carousel-item" href=""><img class="responsive-img" src="{{imgPath}}{{popularPeople.results[4].profile_path}}" alt=""></a>
      </div>
  </div>
  </div>
</br>

</div>
</div>
</div>

<!-- <h2>Popular Movies:</h2>
<ul>
  <li ng-repeat="x in popularMovies.results">
    {{x.original_title}}
    <img src="{{imgPath}}{{x.backdrop_path}}" alt="">
  </li>
</ul> -->


<!-- <h1>{{movieStuff.original_title}}</h1>
<h2>{{movieStuff.overview}}</h2>
<div class="animated fadeIn">
<img src="{{imgPath}}{{movieStuff.poster_path}}" alt="">
<img src="{{imgPath}}{{movieStuff.backdrop_path}}" alt="">
<img src="{{imgPath}}{{movieStuff.belongs_to_collection.backdrop_path}}" alt="">
<img src="{{imgPath}}{{movieStuff.belongs_to_collection.poster_path}}" alt="">
</div>

<h2>Genres:</h2>
<ul>
  <li ng-repeat="x in movieStuff.genres">
    {{x.name}}
  </li>
</ul>

<h2>Homepage:</h2>

<a href="{{movieStuff.homepage}}" target="_blank">{{movieStuff.homepage}}</a>
 -->
  </div>

          <footer class="page-footer card-panel #1a237e indigo darken-4">
          <div class="container">
            <div class="row">
              <div class="col l12 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
          </div>
        </footer>

</body>
</html>
