$dark-grey: rgba(0,0,0,0.3);


*{
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
a:hover{
  color: red;
}
.brand-logo, .drop-shadow{
  text-shadow: 3px 3px 3px black;
}
.fa-heart{
  color: red;
}
.logo{
  width: 50px;
  margin-top: 5px;
  float: left !important;
  // text-shadow: 10px 5px 5px black;
}
body{
  // background-color: lightblue;
  // background-color: red;
  text-align: center;
  background-color: black;
  background: -webkit-radial-gradient(rgba(0,0,0,0.5), black);
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
}
#searchBar{
  text-align: center;
}
.main{

}
.nav-main-wrapper{
  position: fixed;
  width: 100%;
  z-index: 200;
  // border: 2px solid black;
}
.nav-link{
   text-shadow: 2px 2px 2px black;
}
.categories li{
  display: inline;
  padding-left: 0px;
  padding-right: 0px;
}
#searchBar{
  background-color: rgba(0,0,0,0.3);
  margin-top: -40px !important;
}
.dark-blue{
  max-height: 50px;
}
.title{
  bottom: 0px;
  left: 3px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-shadow: 3px 3px black;
  background-color: rgba(0,0,0,0.4);
  padding: 5px;
}
.responsive-img{
  border: 4px solid rgba(255,255,255,0.3);
  // width: 300px;
}
.my-slick-slider{
  // text-align: center;
}
.responsive-img:hover{
  // border: 4px solid rgba(255,255,255,0.3);
}
.title-background{

}
.vote{
  text-shadow: 3px 3px black;
  position: absolute;
  z-index: 200;
  bottom: 0px;
  right: 5px;
  padding: 10px;
  color: white;
  background-color: rgba(0,0,0,0.4);
}
.flikity{
  // width: 200px;
  // height: 300px;
  // padding-left: 20px;

}
.carousel-cell {
  height: 100%;
}
.carousel {
  height: 160px;
  width: 100%;
}

// .gallery-cell {
//   width: 100%;
// }

.single-item {
    width: 40%;
}
#movies{
  color: white;
  font-size: 2em;
  z-index: 200;
}
#movieDBlogo{
  height: 30px;
  padding-right: 20px;
  // margin-top: 10px;
}
#movieDBText{
  margin-top: 30px;
}
.movieGenres li{
  display: inline;
  padding-left: 10px;
}
.movieOverviewText{
  line-height: 120%;
}
.movieReviewText{
  font-size: 1.2em;
  padding: 20px;
  margin-top: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.hidden{
  display: none;
}
.movieCastName{
  top: -20px !important;
  position: absolute;
  color: white;
  font-size: 1.5em;
  left: 5px;
  padding: 5px;
  background-color: $dark-grey;

}
.moveCastRole{
  bottom: -10px !important;
  position: absolute;
  color: white;
  font-size: 1.3em;
  background-color: $dark-grey;
  padding: 5px;
  right: 5px;
}
.movieCastImg{
  position: absolute;
  top: 0;
}
.noImage{
  position: absolute;
  z-index: -100;
  top: 0 !important;
  width: 300px;
  height: 450px;
}
.carousel-item{
  background-image: url("http://www.don-zalmrol.be/media/1440/no_image_available.png");
  background-repeat: no-repeat;
}
.no-opacity{
  opacity: 0;
}
.readMoreLink{
  cursor: pointer;
}
.similar-tv-vote{
  color: white;
  background-color: $dark-grey;
  padding: 10px;
  right: 0px;
  bottom: 0px;
  position: fixed;
}
.star-credit{
  background-color: $dark-grey;
  color: white;
  bottom: 10px !important;
  right: 0px;
  position: fixed;
  padding: 10px;
}
.tv-credit-name{
  background-color: $dark-grey;
  color: white;
  top: -10px !important;
  left: 0px;
  position: fixed;
  padding: 10px;
}
.tv-credit-character, .similar-movie-vote{
  background-color: $dark-grey;
  color: white;
  bottom: 0px !important;
  right: 0px;
  position: fixed;
  padding: 10px;
}
.tv-genres{
  display: inline;
  padding-left: 20px;
}
.star-credit-pic{
  position: absolute;
}
.white{
  color: white;
}




