$dark-grey: rgba(0,0,0,0.3);
$white-semi-opaque: rgba(255,255,255,0.7);
$light-blue: #90caf9;
$dark-blue: #283593;
$input-blue: #1c2567;
$clear: rgba(0,0,0,0);

@mixin backgroundGradient{
  background: -webkit-radial-gradient(rgba(0,0,0,0.5), black);
  background: -moz-radial-gradient(rgba(0,0,0,0.5), black);
  background: radial-gradient(rgba(0,0,0,0.5), black);
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


*{
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
a{
  color: $light-blue;
  transition:all 0.4s ease;
}
a:hover{
  color: red;
  transition:all 0.4s ease;
}
.air-date{
  font-family: .5em !important;
}
.active{
  height: 50px;
  z-index:200;
}
.background-pic{
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 300vh;
}
body{
  text-align: center;
  background-color: black;
  // @include backgroundGradient;
  // background-image: url('http://cdn.pcwallart.com/images/blue-purple-gradient-wallpaper-4.jpg');
  // background-image: url('http://cdn.pcwallart.com/images/dark-pattern-backgrounds-wallpaper-1.jpg');
  // background-image: url('/images/blue-gradient2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  // background-size: 80px 60px;
}
.brand-logo, .drop-shadow{
  text-shadow: 3px 3px 3px black;
  // text-decoration: underline;
  line-height: 1.3;
  margin-top: 10px;
}
.brand-logo:hover{
  color: red;
}
.carousel{
  height: 160px;
  width: 100%;
}
.carousel-cell {
  height: 100%;
}
.carousel-item{
  background-repeat: no-repeat;
}
.cast-character{
  background-color: $dark-grey;
  color: $white-semi-opaque;
  bottom: -10px !important;
  right: 0px;
  z-index: 200;
  position: fixed;
  padding: 10px;
}
.cast-pic{
    width: 300px;
  max-width: 300px;
}
.cast-pic:hover{
  border: 4px solid red;
}
.cast-slider{
  max-width: 300px;
  margin-left: 34%;
}
.container{
  margin-top: -20px !important;
}
.categories li{
  padding-left: 0px;
  padding-right: 0px;
}
.dark-blue{
  max-height: 50px;
}
.drag-target{
  z-index: 1 !important;
  width: 10% !important;
}
.fa-bars{
  // visibility: hidden;
}
.fa-bars:hover, .button-collapse:hover{
  color: white !important;
}
.fa-chevron-left{
  bottom: 250px;
  right: 155px;
  // z-index: 201;
  position: relative;
  opacity: 0.4;
}
.fa-chevron-right{
  bottom: 250px;
  left: 155px;
  // z-index: 201;
  position: relative;
  opacity: 0.4;
}
.fa-chevron-left:hover{
  opacity: 1;
  cursor: pointer;
}
.fa-chevron-right:hover{
  opacity: 1;
  cursor: pointer;
}
.fa-heart{
  color: red;
}
footer{
  // top: 40px !important;
  // position: relative;
}
.hidden{
  visibility: hidden;
}
.homepage-link, .movie-homepage, .star-homepage{
  font-size: 1.2em;
  word-wrap: break-word;
}
.indicator-item, .indicators{
  visibility: hidden;
}
// input:-webkit-autofill {
//     -webkit-box-shadow: 0 0 0 1000px $input-blue inset !important;
// }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}
.logo{
  width: 50px;
  margin-top: 5px;
  float: left !important;
}
.logo2{
  position: absolute;
  right: 10px;
  width: 45px;
  top: 5px;
}
.materialboxed{
  z-index: 250;
}
.movie-release-date, .tv-air-date{
  font-size: 1.5em !important;
}
.movie-content-review:hover{
  cursor: pointer;
}
.movie-screen{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  position: fixed;
  pointer-events: none;
}
#movies{
  color: white;
  font-size: 2em;
  z-index: 200;
}
#movieDBlogo{
  margin-top: 20px;
  margin-left: 20px;
  padding-right: 20px;
}
#movieDBText{
  margin-top: 30px;
}
.movieGenres li{
  padding-left: 10px;
}
.movieOverviewText, .starBiography, .tv-overview-text{
  line-height: 150%;
  font-size: 1.6em;
  font-family: 'Libre Franklin', sans-serif;
  margin-top: -15px;
}
.movieReviewText{
  font-size: 1.6em;
  margin-top: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.movie-vote{
  padding: 20px;
  text-shadow: 4px 4px 4px black;
}
.movieCastName{
  top: -20px !important;
  position: absolute;
  color: $white-semi-opaque;
  font-size: 1.5em;
  left: 5px;
  padding: 5px;
  background-color: $dark-grey;
}
.moveCastRole{
  bottom: -10px !important;
  position: absolute;
  color: $white-semi-opaque;
  font-size: 1.3em;
  background-color: $dark-grey;
  padding: 5px;
  right: 5px;
}
.movieCastImg{
  position: absolute;
  top: 0;
}
.movie-genres-name, .movie-production-companies{
  word-wrap: break-word;
  font-size: 1.3em;
  display: block;
}
.movie-homepage{
  // font-size: .8em !important;
  // max-width: 250px;
}
.mobile-links{
  font-size: 1.5em !important;
  // padding-top: 50px;

}
.movie1{
  @include centerer;
}
.mobile-nav-icon{
  display: inline;
}
.nav-row, .footer-wrapper, footer{
  // border-right: 3px solid black;
  border-top: 3px solid black;
}
.nav-main-wrapper{
  position: fixed;
  width: 100%;
  z-index: 10;
}
.nav-bottom{
  border-bottom: 3px solid black;
}
.nav-link li{
   text-shadow: 2px 2px 2px black;
   margin-top: -4px !important;
}
.noImage{
  position: absolute;
  z-index: -100;
  top: 0 !important;
  width: 300px;
  height: 450px;
}
.no-opacity{
  opacity: 0;
}
.no-images{
  height: 100%;
  width: 100%;
  opacity: 0.3;
}
.new-logo-pic{
  max-height: 50px;
  position: relative;
  margin-top: 5px;
  margin-left: -5%;
}
.opacity{
  opacity: 1;
}
// .parallax-container {
//   height: 1000px;
//    position:fixed;
//   width: 100%;
// }
.parallax{

}
.phone-icon{
  color: $light-blue !important;
}
.mobile-links1{
  // margin-top: 50px;
}
.mobile-links{
  margin-top: 20px !important;
}
.movie-similar-wrapper{
  display: inline-block;
}
.movie-similar-wrapper1{
 left: -10% !important;
}
.movie-similar-wrapper2{
 right: -10% !important;
}
.poster-li{
  max-width: 300px;
  display: inline-block !important;
}
.poster-slide-bottom{
  width: 200px;
  height: 300px;
  position: absolute;
}
.readMoreLink-reviews:hover{
  // cursor: pointer;
}
.readMoreLink{
  cursor: pointer;
}
.red-border{
  border: 4px solid $white-semi-opaque;
  transition:all 0.3s ease;
}
.red-border:hover{
  border: 4px solid red;
  transition:all 0.3s ease;
  box-shadow: 2px 2px 5px red;
}
.relative{
  position: relative;
}
.responsive-img{
  border: 4px solid rgba(255,255,255,0.3);
  // background-image: url("http://www.mtlexs.com/images/reload.gif");
}
.results-pic{
  width: 70px;
  position: absolute;
  right: 20%;
  margin-top: -3%;
  border-radius: 20px;
  transition:all 0.3s ease;
}
.results-pic1{
  z-index: 3;
}
.results-pic2{
  z-index: 2;
}
.results-pic3{
  z-index: 1;
}
.results-pic:hover{
  transition:all 0.3s ease;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(255,0,0,0.88);
  -moz-box-shadow: 0px 0px 10px 10px rgba(255,0,0,0.88);
  box-shadow: 0px 0px 10px 10px rgba(255,0,0,0.88);
}
.right-half{
  // border: 2px solid red;
  height: 410px;
  width: 145px;
  position: relative;
  left: 140px;
  bottom: 820px;
  z-index: 201;
  cursor: pointer;
}
.search-result-name{
  font-size: 1.5em;
}
.search-results-wrap{
  margin-bottom: 150px;
  position: relative;
}
.search-results-div{
  border: 2px solid black;
  position: relative;
  margin-top: -25px;
  z-index: 10;
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;
  background-color: white;
  -webkit-transition:all 5s ease;
}
#searchBar, .searchBar{
  background-color: rgba(0,0,0,0.3);
  top: 65px;
  height: 50px;
  right: 0px !important;
  width: 37%;
  border-left: 2px solid black;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Libre Franklin', sans-serif;
  position: absolute;
  font-size: .7em;
}
.searchBar{
  text-align: center;
}
#searchBar2{
  background-color: $dark-blue;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
  font-family: 'Libre Franklin', sans-serif;
  border-bottom: 4px solid black;
}
.seasons{
  // position: relative;
}
#sidenav-overlay{
  display: none;
}
.slide-out{
  z-index: 999;
}
.similar-tv-vote{
  color: rgba(255,255,255,0.7);
  background-color: $dark-grey;
  padding: 10px;
  right: 5px;
  bottom: 0px;
  position: absolute;
}
.slides{
  width: auto;
  max-height: 100%;
  border: 5px solid $dark-grey;
  // background-color: black;
}
.slider-div{
  text-align: center;
  width: 300px;
  border: 2px solid $dark-grey;
}
.star-credit{
  background-color: $dark-grey;
  color: $white-semi-opaque;
  bottom: 10px !important;
  right: 0px;
  position: fixed;
  padding: 10px;
}
.submit{
  right: 0;
  position: absolute;
}
.tagline{
  z-index: 200px;
}
.tv-credit-name{
  background-color: $dark-grey;
  color: $white-semi-opaque;
  top: -10px !important;
  left: 0px;
  z-index: 200;
  position: absolute;
  padding: 10px;
}

.slider{
  // background-color: black;
//   -webkit-transform: scale(1);
//   -ms-transform: scale(1);
//   transform: scale(1);
//   transition:all 0.6s ease;
}
// .slider:hover{
//   -webkit-transform: scale(1.2);
//   -ms-transform: scale(1.2);
//   transform: scale(1.2);
//   transition:all 0.6s ease;
// }
.slides li{
  // background-color: black;
}
.single-item {
    width: 40%;
}
.social-nav-icon:hover{
  background-color: rgba(0,0,0,0) !important;
}
.social-icons-nav{
  right: 0;
  position: fixed;
  top: -14px;
}
.star-credit-pic{
  position: absolute;
}
.star-pic-slider{
  max-width: 300px;
}
.tv-slide-wrapper{
  text-align: center;
}
.table-row, .movie-title-search, .movie-img-search{
  padding-bottom: 50px;
}
th, td{
  color: black;
}
.title{
  bottom: 0px;
  left: 3px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-shadow: 3px 3px black;
  background-color: rgba(0,0,0,0.4);
  padding: 5px;
}
.trailer:hover{
  border: 2px solid red;
}
.tv-cast-wrapper, .cast-pic{
  max-width: 300px;
  margin: auto;
  position: relative;
  width: 300px;
}
.tv-credit-character, .similar-movie-vote{
  background-color: $dark-grey;
  color: $white-semi-opaque;
  bottom: 0px !important;
  right: 0px;
  position: absolute;
  padding: 10px;
}
.tv-genres{
  display: inline-block;
  padding-left: 20px;
  font-size: 1.4em;
}
.tv-production-companies{
  font-size: 1.2em;
}
.three-hundred-width{
  max-width: 250px;
.tv-slider{
  // max-width: 200px;
}
}
#twitter-widget-0, #twitter-widget-1 {
  float: none;
  width: 100vw !important;
  max-width: 100vw !important;
  height: 110vh !important;
}
#twitter-widget-holder{
  // max-height:400px;
  // width: 120%;
  margin-top: -30px;
  // padding:20px;
  border-radius:23px;
}
 .timeline{
    max-width: 100% !important;
}
// .timeline-Widget{
//   max-width: 2000px !important;
// }
.video-container{
  // z-index: 200 !important;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i.ytimg.com/vi/cv-tIoKFdFM/maxresdefault.jpg");
}
.vote{
  text-shadow: 3px 3px black;
  position: absolute;
  z-index: 200;
  bottom: 0px;
  right: 5px;
  padding: 10px;
  color: $white-semi-opaque;
  background-color: rgba(0,0,0,0.4);
}
::-webkit-scrollbar {
    width: 12px;
    background: $white-semi-opaque;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: red;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}
.white{
  color: white;
}




@media (max-width: 900px) {

.movie-similar-wrapper{
  display: block;
}
.movie-similar-wrapper1{
 left: 0px !important;
}
.movie-similar-wrapper2{
 right: 0px !important;
}

}



@media (max-width: 600px) {

body{
background-size: cover;
// max-width: 360px;


}
.results-pic{
  right: 5%;
  margin-top: -10%;
}

.fa-bars{
  visibility: visible;
}
.search-results-div{
  margin-top: -41px;
}
.search-result-name{
  font-size: 1.3em;
  max-width: 250px;
}
.star-name, .tv-name, .movie-name{
  font-size: 2.5em;
}
.nav-main-wrapper{
  max-width: 100vw;
}
}

@media (max-width: 361px) {
// .cast-slider, .slider-div{
//   max-width: 270px;
// }
.fa-chevron-left{
  bottom: 20px;
  right: 50px;
}
.fa-chevron-right{
  bottom: 20px;
  left: 50px;
}
// .nav-main-wrapper, .nav-div{
//   max-width: 100vw;
// }
}



