*{
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
.logo{
  width: 50px;
  float: left !important;
}
body{
  // background-color: lightblue;
  // background-color: red;
  text-align: center;
  background-color: black;
  background: -webkit-radial-gradient(rgba(0,0,0,0.6), black);
  color: white;
  font-family: 'Anton', sans-serif;
}
#searchBar{
  text-align: center;
}
.main{

}
.nav-main-wrapper{
  position: fixed;
  width: 100%;
  z-index: 200;
  // border: 2px solid black;
}
.categories li{
  display: inline;
  padding-left: 0px;
  padding-right: 0px;
}
#searchBar{
  background-color: rgba(0,0,0,0.3);
  margin-top: -20px;
}
.dark-blue{
  max-height: 50px;
}
.title{
  bottom: 0px;
  left: 0px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-shadow: 3px 3px black;
  background-color: rgba(0,0,0,0.4);
  padding: 5px;
}
.responsive-img{
  border: 4px solid rgba(0,0,0,0.3);
}
.responsive-img:hover{
  // border: 4px solid rgba(255,255,255,0.3);
}
.title-background{

}
.vote{
  text-shadow: 3px 3px black;
  position: absolute;
  z-index: 200;
  top: -10px;
  right: 0px;
  padding: 5px;
  color: white;
  background-color: rgba(0,0,0,0.4);
}





