$dark-grey: rgba(0,0,0,0.3);
$white-semi-opaque: rgba(255,255,255,0.7);
$light-blue: #90caf9;
$dark-blue: #283593;
$clear: rgba(0,0,0,0);

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*{
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
a:hover{
  color: red;
}
.brand-logo, .drop-shadow{
  text-shadow: 3px 3px 3px black;
  // text-decoration: underline;
  line-height: 1.3;
}
.brand-logo:hover{
  color: red;
}
.container{
  margin-top: -20px !important;
}
.fa-heart{
  color: red;
}
.homepage-link{
  font-size: 1.2em;
}
.logo{
  width: 50px;
  margin-top: 5px;
  float: left !important;
  // text-shadow: 10px 5px 5px black;
}
body{
  // background-color: lightblue;
  // background-color: red;
  text-align: center;
  background-color: black;
  background: -webkit-radial-gradient(rgba(0,0,0,0.5), black);
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  // border-left: 3px solid black;
  // border-right: 3px solid black;
}
::-webkit-scrollbar {
    width: 12px;
    background: $white-semi-opaque;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: red;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}
.nav-row, .footer-wrapper{
  // border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
}
.nav-wrapper{
  // border: 2px solid black;
}
#searchBar{
  text-align: center;
}
.main{

}
.tv-slide-wrapper{
  text-align: center;
}
.nav-main-wrapper{
  position: fixed;
  width: 100%;
  z-index: 50;
  // border: 2px solid black;
}
.nav-link{
   text-shadow: 2px 2px 2px black;
}
.categories li{
  // display: inline;
  padding-left: 0px;
  padding-right: 0px;
}
#searchBar{
  background-color: rgba(0,0,0,0.3);
  margin-top: -40px !important;
}
.dark-blue{
  max-height: 50px;
}
.title{
  bottom: 0px;
  left: 3px;
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-shadow: 3px 3px black;
  background-color: rgba(0,0,0,0.4);
  padding: 5px;
}
.responsive-img{
  border: 4px solid rgba(255,255,255,0.3);
  // width: 300px;
  background-image: url("http://www.clker.com/cliparts/q/L/P/Y/t/6/no-image-available-md.png");
}
.cast-pic{
    width: 300px;
  max-width: 300px;
}
.cast-pic:hover{
  border: 4px solid red;

}
.my-slick-slider{
  // text-align: center;
}
.responsive-img:hover{
  // border: 4px solid rgba(255,255,255,0.3);
}
.title-background{

}
.vote{
  text-shadow: 3px 3px black;
  position: absolute;
  z-index: 200;
  bottom: 0px;
  right: 5px;
  padding: 10px;
  color: $white-semi-opaque;
  background-color: rgba(0,0,0,0.4);
}
.flikity{
  // width: 200px;
  // height: 300px;
  // padding-left: 20px;

}
.carousel-cell {
  height: 100%;
}
.carousel {
  height: 160px;
  width: 100%;
}

// .gallery-cell {
//   width: 100%;
// }

.single-item {
    width: 40%;
}
.materialboxed{
  z-index: 250;
}
#movies{
  color: white;
  font-size: 2em;
  z-index: 200;
}
#movieDBlogo{
  height: 30px;
  padding-right: 20px;
  // margin-top: 10px;
}
#movieDBText{
  margin-top: 30px;
}
.movieGenres li{
  // display: inline;
  padding-left: 10px;
}
.movieOverviewText, .starBiography, .tv-overview-text{
  line-height: 120%;
  font-family: 'Libre Franklin', sans-serif;
}
.movieReviewText{
  font-size: 1.2em;
  padding: 20px;
  margin-top: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.movie-vote{
  padding: 20px;
  // background-color: $dark-grey;
  // border: 2px solid black;
  // border-radius: 50px;
  text-shadow: 4px 4px 4px black;
}
.hidden{
  display: none;
}
.movieCastName{
  top: -20px !important;
  position: absolute;
  color: $white-semi-opaque;
  font-size: 1.5em;
  left: 5px;
  padding: 5px;
  background-color: $dark-grey;

}
.moveCastRole{
  bottom: -10px !important;
  position: absolute;
  color: $white-semi-opaque;
  font-size: 1.3em;
  background-color: $dark-grey;
  padding: 5px;
  right: 5px;
}
.movieCastImg{
  position: absolute;
  top: 0;
}
.noImage{
  position: absolute;
  z-index: -100;
  top: 0 !important;
  width: 300px;
  height: 450px;
}
.carousel-item{
  // background-image: url("http://www.don-zalmrol.be/media/1440/no_image_available.png");
  background-repeat: no-repeat;
}
.no-opacity{
  opacity: 0;
}
.readMoreLink{
  cursor: pointer;
}
.movie-genres-name{
  word-wrap: break-word;
// white-space: pre-line;
  display: block;
}
.similar-tv-vote{
  color: rgba(255,255,255,0.7);
  background-color: $dark-grey;
  padding: 10px;
  right: 5px;
  bottom: 0px;
  position: absolute;
}
.red-border:hover{
  border: 4px solid red;
}
.active{
  height: 50px;
}
.slides{
  width: auto;
   max-height: 100%;
   border: 5px solid $dark-grey;
}
.slider-div{
  text-align: center;
  width: 300px;
  border: 2px solid $dark-grey;
}
.star-credit{
  background-color: $dark-grey;
  color: $white-semi-opaque;
  bottom: 10px !important;
  right: 0px;
  position: fixed;
  padding: 10px;
}
.tagline{
  z-index: 200px;
}
.cast-slider{
  max-width: 300px;
  margin-left: 34%;
  // text-align: center;
}
.tv-credit-name{
  background-color: $dark-grey;
  color: $white-semi-opaque;
  top: -10px !important;
  left: 0px;
  z-index: 200;
  position: fixed;
  padding: 10px;
}
.cast-character{
  background-color: $dark-grey;
  color: $white-semi-opaque;
  bottom: -10px !important;
  right: 0px;
  z-index: 200;
  position: fixed;
  padding: 10px;
}
.tv-credit-character, .similar-movie-vote{
  background-color: $dark-grey;
  color: $white-semi-opaque;
  bottom: 0px !important;
  right: 0px;
  position: absolute;
  padding: 10px;
}
.tv-genres{
  display: inline-block;
  padding-left: 20px;
  font-size: 1.2em;

}
.tvGenres{
  // max-width: 200px;
  // padding: 40px;
}
.three-hundred-width{
  max-width: 250px;
.tv-slider{
  // max-width: 200px;
}
}
.active{
    z-index:200;
}
.poster-slide-bottom{
  width: 200px;
  height: 300px;
  position: absolute;
}
.seasons{
  // position: relative;
}
.season-img{
  // position: absolute;
}
.star-credit-pic{
  position: absolute;
}
.star-pic-slider{
  max-width: 300px;
}
.white{
  color: white;
}
.indicator-item{
  visibility: hidden;
}
.fa-chevron-left{
  bottom: 250px;
  right: 155px;
  z-index: 201;
  position: relative;
  opacity: 0.2;
}
.fa-chevron-right{
  bottom: 250px;
  left: 155px;
  z-index: 201;
  position: relative;
  opacity: 0.2;
}

.fa-chevron-left:hover{
  opacity: 1;
  cursor: pointer;
}
.fa-chevron-right:hover{
  opacity: 1;
  cursor: pointer;
}
.left-half{
  // border: 2px solid black;
  height: 410px;
  width: 140px;
  position: relative;
  bottom: 410px;
  z-index: 201;
  cursor: pointer;
}
iframe{
  z-index: 250;
}
.movie-screen{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  position: fixed;
  pointer-events: none;
}
.right-half{
  // border: 2px solid red;
  height: 410px;
  width: 145px;
  position: relative;
  left: 140px;
  bottom: 820px;
  z-index: 201;
  cursor: pointer;
}
.opacity{
  opacity: 1;
}
.relative{
  position: relative;
}
.tv-cast-wrapper, .cast-pic{
  max-width: 300px;
  margin: auto;
  position: relative;
  width: 300px;

}

.social-icons-nav{
  right: 0;
  position: fixed;
  top: -14px;
}
.mobile-links{
  font-size: 1.5em !important;
  padding-top: 20px;
}
#twitter-widget-0, #twitter-widget-1 {
  float: none;
  width: 90% !important;
  // height: 250px !important;
}
#sidenav-overlay{
  display: none;
}
.social-nav-icon:hover{
  background-color: rgba(0,0,0,0) !important;
}
.movie1{
  @include centerer;
}
.trailer:hover{
  border: 2px solid red;
}
.video-container{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("http://memphisdrumshop.com/skin/frontend/default/mds/images/NoVideoAvailable.png");
}
.no-images{
  height: 100%;
  width: 100%;
  opacity: 0.3;
}
.tv-credit-name{
  // display: none;
}
#searchBar2{
  background-color: $dark-blue;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  border-bottom: 4px solid black;
}
.mobile-nav-icon{
  display: inline;
}
#twitter-widget-holder{
  // max-height:400px;
  margin-top: 10px;
  padding:20px;
  background: $light-blue;
  border-radius:23px;
  box-shadow:20px 20px 10px rgba(0,0,0,.4); }

// @media (max-width: 600px) {
// .container{
//   margin-top: -80px !important;
// }
// }



